@model TaxComputation.Domain.Entities.Company

<form method="post">
    <div class="form-group">
        <label for="CompanyName">Company Name:</label>
        <input type="text" id="CompanyName" name="CompanyName" class="form-control" asp-for="CompanyName" />
    </div>

    <h2>Products</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Products.Count; i++)
            {
                <tr>
                    <td>
                        <input type="text" name="Products[@i].Name" class="form-control" asp-for="Products[i].ProductName" />
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" onclick="removeProductRow(this)">Remove</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <button type="button" class="btn btn-success" onclick="addProductRow()">Add Product</button>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>


@section scripts {
    <script>
        function addProductRow() {
            var newRow = `
                        <tr>
                            <td>
                                <input type="text" name="NewProducts[${Model.Products.Count}].Name" class="form-control" />
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" onclick="removeProductRow(this)">Remove</button>
                            </td>
                        </tr>
                    `;
            $("table tbody").append(newRow);
        }

        function removeProductRow(button) {
            $(button).closest("tr").remove();
        }
    </script>
}
